* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    #menu {
    background-color: black;
    height: 35px;
    width: 100%;
    }
    
    #menu li {
    height: 35px;
    background-color: black;
    transition: 0.25s;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: #fff;
    cursor: pointer;
    }
    
    #menu li:hover {
    background: #272727;
    }
    
    #menu ul {
    display: none;
    position: absolute;
    top: 35px;
    color: #fff;
    margin: 0;
    box-shadow: 1px 1px 1px black;
    }
    
    
    
    /*Dejar de mostrar los menus*/
    #menu li:hover ul ul,
    #menu li:hover ul ul ul {
    display: none;
    }
    
    /*Mostrar los menus*/
    #menu li:hover ul,
    #menu ul li:hover ul,
    #menu ul ul li:hover ul {
    display: table-cell;
    margin-left: -10px;
    }