$color: white;;
$fondo: black;
$color_encabezado: white;
$fondo_encabezado: darkblue;


.color{
    color: $color;
    background-color: $fondo;
}

.color_encabezado{
    color: $color_encabezado;
    background-color: $fondo_encabezado;
}
