$color: black;
$fondo: lightblue;
$color_encabezado: darkblue;
$fondo_encabezado: white;

$color_oscuro: white;
$fondo_oscuro: black;
$color_encabezado_oscuro: white;
$fondo_encabezado_oscuro: darkblue;

@mixin color($oscuro:false) {
    @if $oscuro {
        color: $color_oscuro;
        background-color: $fondo_oscuro;
    }
    @else {
        color: $color;
        background-color: $fondo;
    }
}

@mixin color_encabezado($oscuro:false){
    @if $oscuro {
        color: $color_encabezado_oscuro;
        background-color: $fondo_encabezado_oscuro;
    }
    @else {
        color: $color_encabezado;
        background-color: $fondo_encabezado;
    }
}
