@import 'w3';

body{
    background-color: azure;
    >header{
        @extend .w3-border;
        @extend .w3-padding;
        background-color: bisque;
        height: 20%;
        width: 100%;
        >h1{

        }
        >#login{

        }
    }
    >nav{
        background-color: beige;
        height: 5%;
        width: 100%;

    }
    >main{
        height: 60%;
        width: 100%;
        >section>{
            >article{
                >header{}
                >main{}
                >footer{}
            }
        }
        >.formulario{
            >article>{
                >header{

                }
                >main{}
                >footer{}
            }
        }
        >.tabla{
            >article{
                >header{}
                >main{}
                >footer{}
            }
        }
    }
    >aside{
        background-color: beige;
    }
    >footer{
        background-color: bisque;
        height: 15%;
        width: 100%;
    }
}

