@import 'w3';
body{

    header{
        /*width: 100%;
        height: 200px;
        float: left;
        */
        background-color: aqua;
        @extend .w3-container;
    }
    nav{
        /*
        width: 20%;
        min-height: 500px;
        float: left;*/
        background-color: coral;
        @extend .w3-bar;
    }
    main{
        /*
        width: 60%;
        min-height: 500px;
        float: left;*/
        background-color: cadetblue;
        @extend .w3-container;
    }
    aside{
        /*
        width:20%;
        min-height: 500px;
        */
        background-color:darkkhaki;
        float: left;
        @extend .w3-container;
    }
    footer{
        /*
        width: 100%;
        height: 200px;
        float: left;*/
        background-color:darkviolet;
        @extend .w3-container;
        @extend .w3-left-align;
    }

}
main>section[name="tarjeta"]
{
    width: 250px;
    height: 250px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    background-color: blue;
    float:left;
}
