/* line 3, ../www/tienda/resources/sass/default.scss */
.color, body > main {
  color: black;
  background-color: lightblue;
}

/* line 6, ../www/tienda/resources/sass/default.scss */
.color_encabezado, body > header {
  color: darkblue;
  background-color: white;
}

/* line 9, ../www/tienda/resources/sass/default.scss */
.color_menu, nav, nav > ul {
  color: darkblue;
  background-color: #cabcf8;
}

/* line 12, ../www/tienda/resources/sass/default.scss */
.color_submenu, nav > ul > li > ul {
  color: darkblue;
  background-color: #e1d9fb;
}

/* line 2, ../www/tienda/resources/sass/_general.scss */
body > header {
  width: 100%;
  height: 200px;
  float: left;
}

/* line 8, ../www/tienda/resources/sass/_general.scss */
body > nav {
  min-height: 500px;
  float: left;
  overflow: hidden;
}

/* line 13, ../www/tienda/resources/sass/_general.scss */
body > main {
  width: 60%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 20, ../www/tienda/resources/sass/_general.scss */
body > main > section[name="tarjeta"] {
  width: 140px;
  height: 140px;
  border-width: 5px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

/* line 31, ../www/tienda/resources/sass/_general.scss */
body > main > section[name="tarjeta"] img {
  display: flex;
  width: 80px;
  height: 80px;
}

/* line 37, ../www/tienda/resources/sass/_general.scss */
body > main > section[name="tarjeta"] span {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

/* line 44, ../www/tienda/resources/sass/_general.scss */
body > aside {
  width: 20%;
  min-height: 500px;
  background-color: darkkhaki;
  float: left;
}

/* line 50, ../www/tienda/resources/sass/_general.scss */
body > footer {
  width: 100%;
  height: 200px;
  background-color: darkviolet;
  float: left;
}

/* line 57, ../www/tienda/resources/sass/_general.scss */
.text {
  font-size: 16px;
  font-family: Tahoma;
  margin: 0 0 0 15px;
  padding: 0;
}

/* line 64, ../www/tienda/resources/sass/_general.scss */
.borde {
  border-color: orange;
  margin: 10px 0;
}

/* line 69, ../www/tienda/resources/sass/_general.scss */
.titulo {
  font-size: 28px;
  font-family: Tahoma;
  font-weight: bold;
}

/* line 75, ../www/tienda/resources/sass/_general.scss */
.contenedor_proceso_pago > form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* line 80, ../www/tienda/resources/sass/_general.scss */
.contenedor_tarjetas {
  width: 100%;
}

/* line 84, ../www/tienda/resources/sass/_general.scss */
.img_producto {
  width: 200px;
}

/* line 88, ../www/tienda/resources/sass/_general.scss */
.contenedor_datosPedido {
  padding: 0px 15px 0 15px;
}

/* line 92, ../www/tienda/resources/sass/_general.scss */
.select {
  width: 280px;
  min-height: 35px;
  background: black;
  color: white;
  outline: none;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: Tahoma;
  font-size: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z" fill="white" /></svg>');
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px;
  padding-right: 30px;
}

/* line 113, ../www/tienda/resources/sass/_general.scss */
.botonSubmit {
  border: none;
  background-color: black;
  color: white;
  font-family: Tahoma;
  font-size: 20px;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

/* line 125, ../www/tienda/resources/sass/_general.scss */
.botonSubmit:hover {
  opacity: 90%;
}

/* Define standard variables and values for website */
/* Use the variables */
/* line 135, ../www/tienda/resources/sass/_general.scss */
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px;
}

/* define variables for the primary colors */
/* use the variables */
/* line 147, ../www/tienda/resources/sass/_general.scss */
.main-header {
  background-color: #a2b9bc;
}

/* line 151, ../www/tienda/resources/sass/_general.scss */
.menu-left {
  background-color: #b2ad7f;
}

/* line 155, ../www/tienda/resources/sass/_general.scss */
.menu-right {
  background-color: #878f99;
}

/* line 160, ../www/tienda/resources/sass/_general.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 165, ../www/tienda/resources/sass/_general.scss */
nav li {
  display: inline-block;
}

/* line 168, ../www/tienda/resources/sass/_general.scss */
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/* This CSS will print because %message-shared is extended. */
/* line 175, ../www/tienda/resources/sass/_general.scss */
.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

/* line 191, ../www/tienda/resources/sass/_general.scss */
.success {
  border-color: green;
}

/* line 196, ../www/tienda/resources/sass/_general.scss */
.error {
  border-color: red;
}

/* line 201, ../www/tienda/resources/sass/_general.scss */
.warning {
  border-color: yellow;
}

@keyframes mostrar_alto {
  from {
    max-height: 0px;
  }
  to {
    max-height: 300px;
  }
}

@keyframes ocultar_alto {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0px;
  }
}

@keyframes mostrar_ancho {
  from {
    max-width: 0px;
  }
  to {
    max-width: 300px;
  }
}

@keyframes ocultar_ancho {
  from {
    max-width: 300px;
  }
  to {
    max-width: 0px;
  }
}

/* line 17, ../www/tienda/resources/sass/_menu.scss */
.animar_mostrar_ancho {
  animation-name: mostrar_ancho;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 22, ../www/tienda/resources/sass/_menu.scss */
.animar_ocultar_ancho {
  animation-name: ocultar_ancho;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 27, ../www/tienda/resources/sass/_menu.scss */
.animar_mostrar_alto {
  animation-name: mostrar_ancho_alto;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 32, ../www/tienda/resources/sass/_menu.scss */
.animar_ocultar_alto {
  animation-name: ocultar_ancho_alto;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 40, ../www/tienda/resources/sass/_menu.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* line 50, ../www/tienda/resources/sass/_menu.scss */
nav li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* line 55, ../www/tienda/resources/sass/_menu.scss */
nav a {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
}

/* line 63, ../www/tienda/resources/sass/_menu.scss */
nav > ul > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* line 68, ../www/tienda/resources/sass/_menu.scss */
nav > ul > li img {
  width: 16px;
  height: 16px;
}

/* line 72, ../www/tienda/resources/sass/_menu.scss */
nav > ul > li span {
  padding-left: 8px;
}

/* line 75, ../www/tienda/resources/sass/_menu.scss */
nav > ul > li > ul {
  padding-left: 24px;
  width: 100%;
}

/* line 79, ../www/tienda/resources/sass/_menu.scss */
nav > ul > li > ul > li {
  flex-direction: row;
  align-items: center;
}

@media print {
  /* line 95, ../www/tienda/resources/sass/_menu.scss */
  nav {
    display: none;
    visibility: hidden;
  }
  /* line 99, ../www/tienda/resources/sass/_menu.scss */
  button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* line 105, ../www/tienda/resources/sass/_menu.scss */
  nav {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=default.css.map */