body>header{
    width: 100%;
    height: 200px;
    background-color: aqua;
    float: left;
}
body>nav{
    width: 20%;
    min-height: 500px;
    background-color: coral;
    float: left;
}
body>main{
    width: 60%;
    min-height: 500px;
    background-color: cadetblue;
    float: left;
}
body>aside{
    width:20%;
    min-height: 500px;
    background-color:darkkhaki;
    float: left;
}
body>footer{
    width: 100%;
    height: 200px;
    background-color:darkviolet;
    float: left;
}
main>section[name="tarjeta"]
{
    width: 250px;
    height: 250px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    background-color: blue;
    float:left;
}
